<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>QtAutoUpdaterTestInstaller</Name>
	<Version>1.0.0</Version>
	<Title>QtAutoUpdaterTestInstaller</Title>
	<Publisher>Sykcoder42</Publisher>
	<ProductUrl>https://github.com/Skycoder42/QtAutoUpdater</ProductUrl>
	<TargetDir>%1</TargetDir>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
	<RemoteRepositories>
		<Repository>
			<Url>file:///%2/repository</Url>
			<Enabled>1</Enabled>
			<DisplayName>QtAutoUpdaterTestInstaller Repo</DisplayName>
		</Repository>
	</RemoteRepositories>
</Installer>
